  {% extends "admin.html" %}
  {%block title%}实时恶意监测{%end%}

{%block body%}



  <div class="container-fluid">
    <!-- Button to trigger modal -->

    <section>
      <div class="page-header">
        <h3></h3>

        <div class="row">
          <div class="span3">
            <h3>实时恶意监测</h3>
          </div>
          <div class="span9">
            <form id="form_query">

              开始:<input type="start" id="start" placeholder="当前地址关键词" value="{{start}}" name="curr_url" >
              结束:<input type="end" id="end" placeholder="当前地址关键词" value="{{end}}" name="curr_url" >
    <input type="hidden" name="curr_url" value="{{curr_url}}" />

          <button class="btn btn-info" id="btn_search" name="btn_search">查询</button>
                <a href="/IPshow?curr_url=bd">只看百度</a>  <a href="/IPshow">看所有</a>
          </form>

           <script type="text/javascript">
             $(function(){

              // $.get("https://i.ji-zhang.com/app/get_gongsi_ming/",{},function(result){
              //   alert(result)
              // })
              $("#form_query").on("submit",function(){
                curr_url =   $("#curr_url").val()
                if (curr_url==""){
                  alert("要输入关键词哦.")
                  return false
                }
              })


             })

           </script>

          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
  <table class="table">
  <thead>
    <tr>
     <th><abbr title="访问时间">  访问IP</abbr></th>
          <th><abbr title="来源地址">点击数次</abbr></th>

    </tr>
  </thead>

  <tbody>
  {%for item in data_total%}
    <tr>
    <td width="250"><a href="/show?curr_url={{item.ip}}">{{item.ip}}</a></td>
         <td>{{item.all_count}}</td>

    </tr>
    {%end%}
  </tbody>
</table>

        </div>
      </div>
    </section>
  </div>

{%end%}